body{
  background: linear-gradient(90deg, #412280 1.18%, #6b26d3 100%);
}
.header{
  min-height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}
.header--container{
  display: flex;
  justify-content: space-between;
  padding: 10px 25px 10px 25px;
  max-width: 800px;
  align-items: center;
  margin: 0px auto 0px auto;
  
}
.header-logo{
  height: 26.22px;
  width: 31.31px;
  margin-right: 6px;
}

.header-title{
  font-size: 1.25rem;
  color: white;
  margin-right: auto;
}

.header-name{
  font-size: 0.75rem;
  font-weight: 500;
  color: white;
}

.main--generator{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
  margin: 50px auto 50px auto;
}

.meme--inputtext{
  width: 230px;
  height: 35px;
  margin: 5px;
  border-radius: 12px;
  border: none;
}

.meme-button{
  min-width: 477px;
  min-height: 40px;
  color: white;
  font-size: 16px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  font-family: "Karla", sans-serif;
  border-radius: 12px;
  border: none;
  margin: 10px;
}

.meme{
  margin-top: 10px;
  position: relative;
  text-align: center;
}

.meme--toptxt{
  position: absolute;
  color:white;
  font-size: 50px;
  top: 1px;
  right: 5%;
  left: 5%;
  margin: 0 0 5px 0;
}

.meme--bottomtxt{
  position: absolute;
  color:white;
  bottom: 10px;
  font-size: 50px;
  margin: 0 0 5px 0;
  right: 5%;
  left: 5%;
}